{{ reserveImport .Package.SchemaPackagePath "BaseEntSchema" "Field" "Schema"}}

{{if .Extends -}}
  export default class {{.Node}} extends {{useImport .Base}} {
{{ end -}}
{{if .Implements -}}
  export default class {{.Node}} implements {{useImport .Base}} {
{{end -}}
  fields: {{useImport "Field"}} [] = [

  {{ range $field := .Fields -}}
    {{$imp := $field.GetImport -}}
    {{ if $imp.DefaultImport -}}
      {{reserveDefaultImport $imp.ImportPath $imp.Import -}}
    {{ else -}}
      {{reserveImport $imp.ImportPath $imp.Import -}}
    {{ end -}}
    {{useImport $imp.Import}}({{fieldObjectCall $field}}),
  {{ end -}}
  ];

  {{if .EnumTable -}}
    enumTable = true;
  {{end -}}

 {{if gt (len .DBRows) 0}}
    dbRows = {{.DBRowsCall}};
 {{ end -}}
}
