{{$action := .Action }}
{{ $actionName := $action.GetActionName -}}
{{ $cfg := .CodePath }}
{{ $baseName := printf "%sBase" $actionName -}}

{{ $hasInput := hasInput $action -}}
{{ $inputName := "" -}}
{{ if $hasInput -}}
  {{$inputName = $action.GetActionInputName -}}
{{ end -}}

{{ reserveImport .BasePath $baseName -}}
{{ if $hasInput -}}
  {{ reserveTypeImport .BasePath $inputName -}}
{{ end -}}

{{ if $hasInput -}}
  export type { {{useTypeImport $inputName}} };
{{end}}

{{if  $cfg.DisableDefaultExportForActions }} 
export class {{$actionName}} extends {{useImport $baseName}} {

}
{{else}}
export default class {{$actionName}} extends {{useImport $baseName}} {

}
{{end}}
