{{$edgeName := .Edge.TsEdgeQueryEdgeName -}}
{{$name := .Edge.TsEdgeQueryName -}}
{{$base := .Edge.EdgeQueryBase -}}

{{ $cfg := .Config}}
{{ reserveImport .Package.InternalImportPath $base $edgeName -}}
{{ $assocEdgeBase := .Edge.AssocEdgeBaseImport $cfg -}} 
{{ reserveImportPath $assocEdgeBase false }}

export class {{$edgeName}} extends {{useImport $assocEdgeBase.Import}} {}

{{ if eq .SourceNode "Ent" -}}
export abstract class {{$name}} extends {{useImport $base}} {
{{ else -}}
export class {{$name}} extends {{useImport $base}} {
{{ end -}}
  {{if .Edge.GenerateSourceLoadEntOptions -}}
  {{reserveImport .Package.ExternalImportPath .SourceNode -}}
    getSourceLoadEntOptions() {
      return {{useImport .SourceNode}}.loaderOptions();
    }
  {{end -}}
}
