{{ reserveImport .Package.PackagePath "loadEnt" "ID" "Data" "Viewer" "loadEntX" "loadEnts" "LoadEntOptions" "loadNodesByEdge" "loadRow" "loadRows" "loadRowX" "loadUniqueEdge" "loadUniqueNode" "AllowIfViewerPrivacyPolicy" "PrivacyPolicy" "query" "Ent" "getEdgeTypeInGroup" "ObjectLoaderFactory" "Context" "IndexLoaderFactory" "loadEntViaKey" "loadEntXViaKey" "CustomQuery" "loadCustomEnts" "loadCustomData"}}

{{ $ci := .Interface}}
{{ $pkg := .Package }}
{{ $cfg := .Config }}
{{ range $ci.GetAllEnums -}}
  {{/* TODO when imported here? */}}
  {{if not .Imported -}}
    {{ template "enum.tmpl" .}}
  {{end -}}
{{ end}}

{{ range $ci.GetAllCustomTypes -}}
  {{ if .IsCustomInterface -}}
    {{ template "interface.tmpl" (dict "RootInterface" $ci "Interface" . "Package" $pkg "Config" $cfg)}}
    {{ if .HasConvertFunction $cfg }}
      {{ if .Exported -}}
        export function {{.GetConvertMethod}}(input: any): {{.TSType}} {
      {{ else -}}
        function {{.GetConvertMethod}}(input: any): {{.TSType}} {
      {{ end -}}
        return {
          {{range $field := .Fields -}}
            {{ if or $field.HasSubFields $field.IsUnionType -}}
              {{ if $field.Nullable -}}
                {{$field.TsFieldName $cfg}}: input.{{$field.GetDbColName}} === null ? null :{{printf "convert%s" $field.GetTSCustomInterfaceType}}(input.{{$field.GetDbColName}}),
              {{ else -}}
                {{$field.TsFieldName $cfg}}: {{printf "convert%s" $field.GetTSCustomInterfaceType}}(input.{{$field.GetDbColName}}),
              {{end -}}
            {{else -}}
              {{$field.TsFieldName $cfg}}: input.{{$field.GetDbColName}},
            {{end -}}
          {{end -}}
        };
      }
    {{end -}}
  {{ end }}
  {{ if .IsCustomUnion -}}
    {{ .GetTypeDeclaration }}
    {{$info := .GetConvertMethodInfo }}
    function {{$info.Method}}(input: any): {{.TSType}} {
      {{range $info.Infos -}} 
        if (input.{{.Field}} !== undefined) {
          return {{.ReturnFunction}}(input);
        }
      {{ end -}}
      {{ if $info.Default -}}
        return {{$info.Default}}(input);
      {{ else -}}
        throw new Error('invalid input for {{.TSType}}`);
      {{ end -}}
    }
  {{ end -}}
{{ end -}}
