{{$name := .TsEdgeQueryName -}}
{{$base := .EdgeQueryBase -}}
{{ reserveImport .Package.InternalImportPath $base }}


export class {{$name}} extends {{useImport $base}} {
  {{ $ctrInfo := .OverwriteConstructor}}
  {{ if $ctrInfo }}
    {{ $cfg := .Config }}
    {{$viewerInfo := $cfg.GetTemplatizedViewer -}}
    {{ reserveImportPath $viewerInfo.GetImportPath false -}}
    {{$viewerType := useImport $viewerInfo.GetImport -}}

    {{  reserveImportPath $ctrInfo.Import false -}}
    constructor(viewer: {{$viewerType}}, srcEnt: {{useImport $ctrInfo.Import.Import}}, sortColumn?: string) {
      super(viewer, srcEnt, sortColumn);
    }

  {{end }}
}

