{{$name := .TsEdgeQueryName -}}
{{$base := .EdgeQueryBase -}}
{{ reserveImport .Package.InternalImportPath $base }}
{{ reserveTypeImport .Package.PackagePath "OrderBy"}}


export class {{$name}} extends {{useImport $base}} {
  {{ $ctrInfo := .OverwriteConstructor}}
  {{ if $ctrInfo }}
    {{ $cfg := .Config }}
    {{$viewerInfo := $cfg.GetTemplatizedViewer -}}
    {{ reserveTypeImportPath $viewerInfo.GetImportPath false -}}
    {{$viewerType := useTypeImport $viewerInfo.GetImport -}}

    {{  reserveTypeImportPath $ctrInfo.Import false -}}
    constructor(viewer: {{$viewerType}}, srcEnt: {{useTypeImport $ctrInfo.Import.Import}}, sortColumn?: string | {{useTypeImport "OrderBy"}}) {
      super(viewer, srcEnt, sortColumn);
    }

  {{end }}
}
