{{$pkgPath := .Package.InternalImportPath}}

{{with .NodeData -}}
{{$baseClass := printf "%sBase" .Node }}

{{ reserveImport $pkgPath $baseClass }}

// we're only writing this once except with --force and packageName provided
export class {{.Node}} extends {{useImport $baseClass}} {


}
{{end -}}