{{with .NodeData -}}
{{$basePath := printf "./generated/%s_base" .PackageName }}
{{$baseClass := printf "%sBase" .Node }}

{{ reserveImport $basePath $baseClass}}

// we're only writing this once except with --force and packageName provided
export class {{.Node}} extends {{useImport $baseClass}} {


}
{{end -}}