{{ reserveImport .Package.InternalImportPath "EdgeType" "NodeType" }}
{{ reserveImport .Package.PackagePath "Ent" "ID" "Data" "Viewer" "EdgeQuerySource" "BaseEdgeQuery" "AssocEdge" "AssocEdgeQueryBase" "CustomEdgeQueryBase" "query" "RawCountLoaderFactory" "AssocEdgeCountLoaderFactory" "AssocEdgeLoaderFactory" "IndexLoaderFactory"}}
{{$importPath := .Package.InternalImportPath -}}

{{$schema := .Schema}}
{{$nodeData := .NodeData -}}

{{with .NodeData -}}

  {{ range .GetImportsForQueryBaseFile $schema }} 
    {{ if .DefaultImport -}}
      {{ reserveDefaultImport .PackagePath .Import}}
    {{ else -}}
      {{ reserveImport .PackagePath .Import}}
    {{end -}}
  {{ end}}

  {{$node := useImport .Node}}

  {{range $edge := .EdgeInfo.Associations}}
    {{$name := printf "%sBase" $edge.TsEdgeQueryName -}}
    {{ reserveImport $importPath $edge.TsEdgeQueryEdgeName -}}
    {{$edgeName := useImport $edge.TsEdgeQueryEdgeName -}}
    {{$edgeType := printf "%s.%s" (useImport "EdgeType") $edge.TsEdgeConst -}}
    {{$thisType := printf "new (viewer: Viewer, src: EdgeQuerySource<%s>) => T" $node }}

  export class {{$name}} extends {{useImport "AssocEdgeQueryBase"}}<{{$node}}, {{useImport .NodeInfo.Node}}, {{$edgeName}}> {
    constructor(viewer: {{useImport "Viewer"}}, src: {{useImport "EdgeQuerySource"}}<{{$node}}>) {
      super(
        viewer, 
        src, 
        new {{useImport "AssocEdgeCountLoaderFactory"}}(
          {{$edgeType}},
        ),
        new {{useImport "AssocEdgeLoaderFactory"}}(
          {{$edgeType}},
          {{$edgeName}},
        ),
        {{useImport .NodeInfo.Node}}.loaderOptions(),
      );
    }

    static query<T extends {{$name}}>(
      this: {{$thisType}},
      viewer: {{useImport "Viewer"}},
      src: {{useImport "EdgeQuerySource"}}<{{$node}}>,
    ): T {
      return new this(viewer, src);
    }

    {{$fNodeData := $schema.GetNodeDataForNode .NodeInfo.Node}}
    {{ range $fEdge := $fNodeData.EdgeInfo.Associations -}}
      {{$queryName := useImport $fEdge.TsEdgeQueryName -}}
      query{{$fEdge.CamelCaseEdgeName}}(): {{$queryName}} {
        return {{$queryName}}.query(this.viewer, this);
      }
      
    {{ end -}}
  }
  {{end}}

  {{range $edge := .EdgeInfo.ForeignKeys -}}
    {{$name := printf "%sBase" $edge.TsEdgeQueryName -}}
    {{$srcNode := useImport $edge.SourceNodeName -}}
    {{$node := useImport $edge.NodeInfo.Node -}}
    {{$thisType := printf "new (viewer: Viewer, src: %s | ID ) => T" $srcNode }}

    export class {{$name}} extends {{useImport "CustomEdgeQueryBase"}}<{{$node}}> {
      constructor(viewer: {{useImport "Viewer"}}, src: {{$srcNode}} | {{useImport "ID"}}) {
        let id: {{useImport "ID"}};
        if (typeof src === "object") {
          id = src.id;
        } else {
          id = src;
        }
        super(viewer, {
          src: src, 
          countLoaderFactory: new {{useImport "RawCountLoaderFactory"}}(
            {{$node}}.loaderOptions(),
            {{$edge.QuotedDBColName}},
          ),
          dataLoaderFactory: new {{useImport "IndexLoaderFactory"}}(
            {{$node}}.loaderOptions(),
            {{$edge.QuotedDBColName}},
          ),
          options:{{$node}}.loaderOptions(), 
        });
      }

      static query<T extends {{$name}}>(
        this: {{$thisType}},
        viewer: {{useImport "Viewer"}},
        src: {{$srcNode}} | {{useImport "ID"}},
      ): T {
        return new this(viewer, src);
      }
    }

  {{end }}
{{end -}}