{{exportAll "src/ent/const"}}

{{ range .Schema.Nodes}}
  {{exportAll (pathBaseModelFile .NodeData.PackageName) }}
{{ end -}}

{{ range .Schema.Nodes}}
  {{exportAll (pathEntFile .NodeData) }}
{{ end -}}

{{ range .Schema.Enums }}
  {{ if .LookupTableEnum}}
    {{exportAll (pathEnumFile .)}}
  {{ end -}}
{{ end -}}

{{ range .Schema.Nodes}}
{{/* for now we export all the base files but eventually we want to export the individual ent files */}}
  {{if .NodeData.EdgeInfo.Associations}}
    {{exportAll (pathBaseQueryFile .NodeData.PackageName) }}
  {{ end -}}
{{ end -}}
