{{$root := .RootInterface}}
{{$int := .Interface}}
{{$extImpPath := .Package.ExternalImportPath -}}
{{$cfg := .Config}}
{{ if $int.Exported -}}
  export interface {{$int.TSType}} {
{{ else -}}
  interface {{$int.TSType}} {
{{ end -}}
  {{ range $field := $int.Fields -}}
    {{$type := $field.TsBuilderType $cfg -}}
    {{range $field.TsBuilderImports $cfg -}}
      {{ if $root.ForeignImport .Import -}}
        {{ reserveImportPath . true -}}
        {{ $ignore := useImportMaybe .Import -}}
      {{ end -}}
    {{end -}}
    {{if $field.Nullable -}}
      {{$field.TsFieldName $cfg}}?: {{$type}};
    {{else -}}
      {{$field.TsFieldName $cfg}}: {{$type}};
    {{end -}}
  {{end -}}
  {{ range $field := $int.NonEntFields -}}
    {{$type := $field.GetTsType -}}
    {{if $field.Required -}}
      {{$field.TsFieldName $cfg}}: {{$type}};
    {{else -}}
      {{$field.TsFieldName $cfg}}?: {{$type}};
    {{end -}}
  {{end -}}
}