{{ reserveImport .Package.TypesImportPath "NodeType"}}
{{ reserveImport .Package.PackagePath "loadEnt" "loadEntX"}}
{{ reserveTypeImport .Package.PackagePath "ID" "Viewer" "Ent" "LoadEntOptions"}}
{{ $impPath := .Package.InternalImportPath }}
{{ range .NodeData -}}
  {{ reserveImport $impPath .Name}}
{{ end -}}

export async function loadEntByType(
  viewer: {{useTypeImport "Viewer"}},
  type: {{useImport "NodeType"}},
  id: {{useTypeImport "ID"}},
): Promise<{{useTypeImport "Ent"}} | null> {
  return {{useImport "loadEnt"}}(viewer, id, getLoaderOptions(type));
}

export async function loadEntXByType(
  viewer: {{useTypeImport "Viewer"}},
  type: {{useImport "NodeType"}},
  id: {{useTypeImport "ID"}},
): Promise<{{useTypeImport "Ent"}}> {
  return {{useImport "loadEntX"}}(viewer, id, getLoaderOptions(type));
}

export function getLoaderOptions(type: {{useImport "NodeType"}}): {{useTypeImport "LoadEntOptions"}}<{{useTypeImport "Ent"}}, any> {
  switch (type) {
  {{ range .NodeData -}}
    case {{useImport "NodeType"}}.{{.Name}}:
    return {{useImport .Name}}.loaderOptions();
  {{ end -}}
  default:
    throw new Error(`invalid nodeType ${type} passed to getLoaderOptions`);
  }
}
