{{ reserveImport "./const" "NodeType"}}
{{ reserveImport .Package.PackagePath "loadEnt" "loadEntX" "ID" "Viewer" "Ent" "LoadEntOptions"}}
{{ $impPath := .Package.ExternalImportPath }}
{{ range .NodeData -}}
  {{ reserveImport $impPath .Name}}
{{ end -}}

export async function loadEntByType(
  viewer: {{useImport "Viewer"}},
  type: {{useImport "NodeType"}},
  id: {{useImport "ID"}},
): Promise<{{useImport "Ent"}} | null> {
  return {{useImport "loadEnt"}}(viewer, id, getLoaderOptions(type));
}

export async function loadEntXByType(
  viewer: {{useImport "Viewer"}},
  type: {{useImport "NodeType"}},
  id: {{useImport "ID"}},
): Promise<{{useImport "Ent"}}> {
  return {{useImport "loadEntX"}}(viewer, id, getLoaderOptions(type));
}

export function getLoaderOptions(type: {{useImport "NodeType"}}): {{useImport "LoadEntOptions"}}<{{useImport "Ent"}}> {
  switch (type) {
  {{ range .NodeData -}}
    case {{useImport "NodeType"}}.{{.Name}}:
    return {{useImport .Name}}.loaderOptions();
  {{ end -}}
  }
}