{{ reserveTypeImport .Package.PackagePath "Ent" "Data"}}

{{$p := .Pattern}}
{{$cfg := .Config}}
{{$schema := .Schema}}

{{$viewerInfo := $cfg.GetTemplatizedViewer -}}
{{ reserveTypeImportPath $viewerInfo.GetImportPath false -}}
{{$viewerType := useTypeImport $viewerInfo.GetImport -}}

{{ reserveImport $p.GetImportPathForMixinBase  $p.GetMixinBaseName $p.GetPatternMethod -}}
{{ reserveTypeImport $p.GetImportPathForMixinBase $p.GetMixinInterfaceBaseName -}}

export interface {{$p.GetMixinInterfaceName}} <TViewer extends {{useTypeImport $viewerType}} = {{useTypeImport $viewerType}}>
  extends {{useTypeImport $p.GetMixinInterfaceBaseName }}<TViewer> {

  {{$p.GetPatternMethod}}(): boolean;

  // add custom fields

}

type Constructor<T extends {{$p.GetMixinInterfaceName}} = {{$p.GetMixinInterfaceName}}> = new (...args: any[]) => T;

export function {{$p.GetPatternMethod}}(ent: unknown): ent is {{$p.GetMixinInterfaceName}} {
  const o = ent as {{$p.GetMixinInterfaceName}};
  return o.{{$p.GetPatternMethod}} && o.{{$p.GetPatternMethod}}() ?? false;
}

{{ range $p.GetImportsForMixin $schema $cfg -}} 
  {{ reserveTypeImportPath . false -}}
{{ end}}


export function {{$p.GetMixinName}}<T extends Constructor>(BaseClass: T) {
  return class {{$p.GetMixinName}} extends {{useImport $p.GetMixinBaseName}}(BaseClass) implements {{$p.GetMixinInterfaceName}} {

    {{$p.GetPatternMethod}}() {
      return true;
    }

    // add custom fields implementation
  };
}
