{{ reserveTypeImport .Package.PackagePath "Viewer" "Ent" "Data"}}

{{$p := .Pattern}}
{{$cfg := .Config}}
{{$schema := .Schema}}

{{$viewerInfo := $cfg.GetTemplatizedViewer -}}
{{ reserveTypeImportPath $viewerInfo.GetImportPath false -}}
{{$viewerType := useTypeImport $viewerInfo.GetImport -}}

{{ range $p.GetImportsForMixin $schema $cfg -}} 
  {{ reserveImportPath . false -}}
{{ end}}

export interface {{$p.GetMixinInterfaceBaseName}}<TViewer extends {{useTypeImport $viewerType}} = {{useTypeImport $viewerType}}> extends {{useTypeImport "Ent" }}<TViewer> {
  {{ range $field := $p.FieldInfo.EntFields -}}
    {{ range $field.GetTsTypeImports -}}
      {{ if ($p.ForeignImport .Import) -}}
        {{ reserveTypeImportPath . false -}}
      {{end -}}
      {{$typ := useTypeImportMaybe .Import -}}
    {{end -}}
    {{$field.TsFieldName $cfg}}: {{$field.TsFieldType $cfg}};
  {{end -}}
  {{/* no easy way to guarantee this from the mixin so we'll just do it from the ent side */ -}}
  {{range $edge := $p.AssocEdges -}}
    {{$edgeName := .CamelCaseEdgeName -}}
    {{$queryName := useTypeImport $edge.TsEdgeQueryName -}}
    query{{$edgeName}}(): {{$queryName}};
  {{end -}}

  {{ range $edge := $p.EdgeInfo.FieldEdges -}}
    {{  $edgeName := .CamelCaseEdgeName -}}
    {{ if $edge.Polymorphic}}
      load{{$edgeName}}(): Promise<{{useTypeImport "Ent"}}| null>;
      {{ if not $edge.Nullable -}}
        load{{$edgeName}}X(): Promise<{{useTypeImport "Ent"}}>;
      {{end -}}
    {{end -}}

    {{if $edge.IsList -}}
      {{$edgeNode := .NodeInfo.Node -}}
      {{if $edge.Nullable -}} 
        load{{$edgeName}}(): Promise<{{useTypeImport $edgeNode}}[]|null>;
      {{ else -}}
        load{{$edgeName}}(): Promise<{{useTypeImport $edgeNode}}[]>;
      {{end -}}
    {{end -}}

    {{ if $edge.NonPolymorphicList -}}
      {{with .NodeInfo -}}
        load{{$edgeName}}(): Promise<{{useTypeImport .Node}}|null>;
        {{if not $edge.Nullable -}}
          load{{$edgeName}}X(): Promise<{{useTypeImport .Node}}>;
        {{end -}}
      {{end -}}
    {{end -}}
  {{ end -}}
}

type Constructor<T extends {{$p.GetMixinInterfaceBaseName}} = {{$p.GetMixinInterfaceBaseName}}> = new (...args: any[]) => T;


{{ if $p.HasFields -}}
  function extractFromArgs<TViewer extends {{useTypeImport "Viewer"}}, TData extends {{useTypeImport "Data"}}>(
    args: any[],
  ): { viewer: TViewer; data: TData } {
    if (args.length !== 2) {
      throw new Error("args should be length 2");
    }
    return {
      viewer: args[0],
      data: args[1],
    };
  }
{{ end}}


export function {{$p.GetMixinBaseName}}<T extends Constructor>(BaseClass: T) {
  return class {{$p.GetMixinBaseName}} extends BaseClass {

    {{ range $field := $p.FieldInfo.EntFields -}}
      readonly {{$field.TsFieldName $cfg}}: {{$field.TsFieldType $cfg}};
    {{end -}}
  
    constructor(...args: any[]) {
      super(...args);
      {{ if $p.HasFields -}}
        const { data } = extractFromArgs(args);
      {{ end -}}

      {{ range $field := $p.FieldInfo.EntFields -}}
        {{$val := printf "data.%s" $field.GetDbColName -}}
        this.{{$field.TsFieldName $cfg}} = {{callAndConvertFunc $field $cfg  $val }}
      {{end -}}
    }
  };
}
