from sqlalchemy import (create_engine, MetaData, Column, Integer, String, Table, Date)
from sqlalchemy.dialects.postgresql import UUID

metadata = MetaData()

{{with .Tables -}}
  {{- range . -}} 
    Table({{.TableName}}, metadata,
    {{- with .Columns -}}
      {{- range . }}
    Column({{.ColString}}),
      {{- end -}}
    {{- end -}}
  {{- end }}
)

{{end -}}

def get_metadata():
  return metadata
