import schema from "./schema";

{{ reserveImport "graphql/utilities" "printSchema" }}
{{ reserveDefaultImport "fs" "fs" }}

let str = {{useImport "printSchema"}}(schema);

{{useImport "fs"}}.writeFileSync("{{.SchemaPath}}", str);