package {{.PackageName}}

import (
  "github.com/lolopinto/jarvis/ent"
)

const (
  // {{.NodeType}} uniquely identifies this object as an owner of something else
  {{.NodeType}} ent.NodeType = "{{.NodeInstance}}"
)
