{{reserveImport "graphql" "GraphQLEnumType" "GraphQLNonNull" }}

export const {{.Type}} = new {{useImport "GraphQLEnumType"}}({
  name: "{{.Enum.Name}}",
  values: {
    {{range .Enum.Values -}}
      {{.Name}}: {
        value: {{.Value}},
        {{/* TODO description */}}
      },
    {{end -}}
  },
});