{{$fieldConfig := .FieldConfig -}}
{{$baseObj := .Base -}}

{{ $cfg := .Config -}}
{{$viewerInfo := $cfg.GetTemplatizedViewer -}}
{{ reserveTypeImportPath $viewerInfo.GetImportPath false -}}
{{$viewerType := useTypeImport $viewerInfo.GetImport -}}

{{$prefix := printf "const %s" $fieldConfig.Name -}}
{{ if $fieldConfig.Exported -}}
  {{$prefix = printf "export %s" $prefix -}}
{{end -}}

{{ range $import := $fieldConfig.TypeImports -}}
  {{ if $baseObj.ForeignImport $import.Import -}}
    {{ if $import.TypeOnly -}}
      {{ $ignored := useTypeImport $import.Import -}}
    {{ else -}}
      {{ $ignored := useImport $import.Import -}}
    {{ end -}}
  {{ end -}}
{{ end -}}
{{ range $import := $fieldConfig.ArgImports -}}
  {{ if $baseObj.ForeignImport $import.Import -}}
    {{ if $import.TypeOnly -}}
      {{ $ignored := useTypeImport $import.Import -}}
    {{ else -}}
      {{ $ignored := useImport $import.Import -}}
    {{ end -}}
  {{ end -}}
{{ end -}}
{{ range $import := $fieldConfig.ReserveAndUseImports -}}
  {{ if $import.TypeOnly -}}
    {{ reserveTypeImportPath $import false }}
    {{ $ignored := useTypeImport $import.Import -}}
  {{ else -}}
    {{ reserveImportPath $import false }}
    {{ $ignored := useImport $import.Import -}}
  {{ end -}}
{{ end -}}

{{$prefix}}: {{useTypeImport "GraphQLFieldConfig"}}<
  undefined,
  {{ if ne $fieldConfig.Arg "" -}}
    {{useTypeImport "RequestContext"}}<{{$viewerType}}>,
    {{$fieldConfig.Arg}}
  {{ else }}
    {{useTypeImport "RequestContext"}}<{{$viewerType}}>
  {{ end -}}
> = {
  type: {{$fieldConfig.FieldType}},
  {{ if $fieldConfig.Description -}}
    description: "{{$fieldConfig.Description}}",
  {{ end -}}
  {{ template "render_args.tmpl" (dict "Base" $baseObj "Args" $fieldConfig.Args) -}}
  {{if $fieldConfig.ReturnTypeHint -}}
    {{ if $fieldConfig.ResolveMethodArg -}}
      resolve: async (_source, {{$fieldConfig.ResolveMethodArg}}, context:{{useTypeImport "RequestContext"}}<{{$viewerType}}>, _info: {{useTypeImport "GraphQLResolveInfo"}}): {{$fieldConfig.ReturnTypeHint}} => {
    {{ else -}}
      resolve: async (_source, args: {{$fieldConfig.Arg}}, context:{{useTypeImport "RequestContext"}}<{{$viewerType}}>, _info: {{useTypeImport "GraphQLResolveInfo"}}): {{$fieldConfig.ReturnTypeHint}} => {
    {{end -}}
  {{ else -}}
    {{ if $fieldConfig.ResolveMethodArg -}}
      resolve: async (_source, {{$fieldConfig.ResolveMethodArg}}, context:{{useTypeImport "RequestContext"}}<{{$viewerType}}>, _info: {{useTypeImport "GraphQLResolveInfo"}}) => {
    {{else -}}
      resolve: async (_source, args: {{$fieldConfig.Arg}}, context:{{useTypeImport "RequestContext"}}<{{$viewerType}}>, _info: {{useTypeImport "GraphQLResolveInfo"}}) => {
    {{end -}}
  {{ end -}}
    {{range $line := $fieldConfig.FunctionContents -}}
      {{ $line }}
    {{end -}}
  },
};
