{{$interfaces := .Interfaces -}}
{{$baseObj := .Base -}}

{{ range $interfaces -}}
  {{ range .Extends}}
    {{ if $baseObj.ForeignImport . -}}
      {{$ignored := useTypeImport . -}}
    {{ end -}}
  {{ end -}}
  {{.InterfaceDecl }} {
  {{ range .Fields -}}
    {{$type := .Type -}}
    {{if .UseImport -}}
      {{$type = useTypeImport $type -}}
    {{end -}}
    {{ range .UseImports -}}
      {{$ignore := useTypeImport . -}}
    {{ end -}}
    {{if .Optional -}}
      {{.Name}}?: {{$type}};
    {{ else -}}
      {{.Name}}: {{$type}};
    {{end -}}
  {{ end -}}
  }

{{end}}
