{{if .Args -}}
  {{$dict := . -}}
  {{$base := .Base -}}
  args: {
    {{range $arg := .Args -}}
      {{$arg.Name}}: {
        description: "{{$arg.Description}}",
        {{ range $import := .Imports -}}
          {{ if $base.ForeignImport $import.Type -}}
            {{$ignored := useImport $import.Type -}}
          {{end -}}
        {{ end -}}
        type: {{$arg.FieldType -}},
      },
    {{end -}}
  },
{{end -}}
