{{reserveImport "graphql" "GraphQLSchema" "GraphQLObjectType" "GraphQLID" "GraphQLString" "GraphQLEnumType" "GraphQLNonNull" "GraphQLList" "GraphQLFloat" "GraphQLInt" "GraphQLFieldConfig" "GraphQLFieldConfigMap" "GraphQLResolveInfo"}}

{{ range $field := .RootFields -}} 
  import { {{$field.Type}} } from "{{$field.ImportPath}}";
{{ end }}

export const {{.Type}} = new {{useImport "GraphQLObjectType"}}({
  name: "{{.Node}}",
  fields: () => ({
    {{ range $field := .RootFields -}} 
      {{$field.Name}}: {{$field.Type}},
    {{ end -}}
  }),
});