{{reserveImport "graphql" "GraphQLSchema"}}
{{ reserveImport .QueryPath "QueryType" }}
{{ if .HasMutations -}}
  {{ reserveImport .MutationPath "MutationType" }}

{{ end -}}

{{range $typ := .AllTypes -}}
  {{reserveImport $typ.ImportPath $typ.Type}}
{{ end -}} 

export default new {{useImport "GraphQLSchema"}}({
  query: {{useImport "QueryType"}},
  {{if .HasMutations -}}
    mutation: {{useImport "MutationType"}},
  {{end -}}
  types: [
    {{range $typ := .AllTypes -}}
    {{if $typ.Function -}}
      {{useImport $typ.Type}}(),
    {{else -}}
      {{useImport $typ.Type}},
    {{end -}}
    {{ end -}} 
  ],
});


