{
  "trailingComma": "all",
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "parser": "typescript",
  "endOfLine": "lf"
}
