{{/* TODO eventually support not exporting */}}
export enum {{.Name}} {
  {{ range $data := .Values -}} 
    {{ if .Comment -}}
      // {{.Comment}}
    {{ end -}}
    {{.Name}} = {{.Value}},
  {{ end -}}
}

{{$enumName := .Name}}
export function get{{.Name}}Values() {
  return [
  {{ range $data := .Values -}} 
    {{$enumName}}.{{.Name}},
  {{ end -}}
  ];
}