name: Docs CI

on:
  pull_request:
    branches: [main]
    paths:
      - 'docs/**'

defaults:
  run:
    working-directory: ./docs

jobs:
  docs-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: npm
          cache-dependency-path: docs/package-lock.json

      - run: npm ci 
      - run: npm run build 
