name: Update Docs

on:
  push:
    branches: [ docs-live-debug ]
    paths:
      - 'docs/**'

jobs:
  merge-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Merge to docs
        uses: devmasx/merge-branch@v1.4.0
        with:
          type: now
          target_branch: docs-live
          github_token: ${{ github.token }}
