package {{.PackageName}}

import (
  "github.com/lolopinto/jarvis/models"
)

const (
  // {{.NodeType}} uniquely identifies this object as an owner of something else
  {{.NodeType}} models.NodeType = "{{.NodeInstance}}"
)
